#primary_nav_wrap
{
  	margin-top:0px;
}

#primary_nav_wrap ul
{
  	list-style:none;
  	position:relative;
    z-index:4;
  	float:left;
  	margin:0px;
  	padding:0px;
}

#primary_nav_wrap ul span
{
  	display:block;
  	color:#333;
    padding-left:4px;
    padding-right:4px;
  	text-decoration:none;
}

#primary_nav_wrap ul li
{
  	position:relative;
  	float:left;
  	margin:0;
  	padding:4px;
}

#primary_nav_wrap ul li.current-menu-item
{
  	background:white;
}

#primary_nav_wrap ul li:hover
{
  	background:#E5ECF2;
    cursor:pointer;
    padding:4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#primary_nav_wrap ul ul
{
  	display:none;
  	position:absolute;
  	top:100%;
  	left:0;
  	background:#fff;
  	padding:0px;
    width:130px;
}

#primary_nav_wrap ul ul li
{
  	float:none;
    z-index:5;
  	width:auto;
}

#primary_nav_wrap ul ul span
{
  	line-height:120%;
  	padding:4px;
}

#primary_nav_wrap ul ul ul
{
  	top:0;
  	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
  	display:block;
    z-index:6;
}